@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    outline: none;
}

:root{
    --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/lua.png");
    --container-bg: #DED0B6;
}

body{
    background: var(--bg-cor);
    color: var(--fonte-cor);
}

.dark-mode{
    --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/sol.png");
    --bg-cor: #191919;
    --fonte-cor: #ffffff;
    --container-bg: #333333; 
}

.mudar-tema{
    background: var(--label-icon);
    padding: 67px;
    background-repeat: no-repeat;
    position: absolute;
    top: 4%;
    left: 4%;
    cursor: pointer;
}

#btn{
    display: none;
}

.to__do__paragrafo {
    font-size: 30px;
    margin-top: 10%;
    text-align: center;
    font-family: "Krona One", sans-serif;
}

.container {
    background-color: var(--container-bg);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto 0;
    font-family: "Krona One", sans-serif;
}

.input__task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    background-color: #EEEDEB;
}

.button__add__task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #B2A59B;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button__add__task:hover {
    opacity: 0.8;
}

.button__add__task:active {
    opacity: 0.6;
}

.list__tasks {
    width: 100%;
    list-style: none;
    margin-top: 40px;
    color: black;
}

.task {
    background-color: #EEEDEB;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.done {
    background-color: #B2A59B;
    text-decoration: line-through;
}

.image-container{
    margin: 10px 0;
    width: 20%;
    text-align: center;
    float: right;
    margin-right: 80px; 
    text-align: center;
    position: relative;
}

.image-container img{
    width: 120%;
    height: auto;
    transform: scaleX(-1);
    margin-top: -50px;
}