@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    outline: none;
}

:root {
    --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/lua.png");
    --container-bg: #e7d9be;
    --btn-color: #EEEDEB;
    --footer-color:#EEEDEB;
    --img-task: url("img/Task-cuate-dark.svg");
    --bg-cor:#fdfdfd;
}

body {
    min-height: 100vh;
    background: var(--bg-cor);
    color: var(--fonte-cor);
    display: flex;
    flex-direction: column;
}

.dark-mode {
    --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/sol.png");
    --bg-cor: #191919;
    --fonte-cor: #ffffff;
    --container-bg: #333333;
    --btn-color: #868484;
    --footer-color:#868484;
    --img-task: url("img/Task-cuate-light.svg");
}


.mudar-tema {
    background: var(--label-icon);
    padding: 67px;
    background-repeat: no-repeat;
    position:absolute;
    top: 4%;
    left: 4%;
    cursor: pointer;
}

.img-container {
    width: 280px;
    /* Ajuste conforme necessário */
    height: auto;
    /* Mantém a proporção da imagem */
    background: url("file:///C:/Users/Julia%20Mofardini/Documents/GitHub/to-do-list/img/Task-cuate-light.svg");
}


#btn {
    display: none;
}

.to__do__paragrafo {
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
    font-family: "Krona One", sans-serif;
}

.hr-paragrafo {
    border-top: 1px solid #e4e4e4;
    /* Espessura e cor da linha */
    width: 50%;
    /* Largura da linha */
    margin: 20px auto;
    /* Margem superior e inferior e centralização automática */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    background-color: var(--container-bg);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto 0;
    font-family: "Krona One", sans-serif;
}

.input__task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    background-color: #EEEDEB;
}

.button__add__task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: var(--btn-color);
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button__add__task:hover {
    opacity: 0.8;
}

.button__add__task:active {
    opacity: 0.6;
}

.list__tasks {
    width: 100%;
    list-style: none;
    margin-top: 40px;
    color: black;
}

.task {
    background-color: #EEEDEB;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.done {
    background-color: #B2A59B;
    text-decoration: line-through;
}

.image-container {
    margin: 10px 0;
    width: 20%;
    text-align: center;
    float: right;
    margin-right: 80px;
    text-align: center;
    position: relative;
}

.image-container img {
    width: 120%;
    height: auto;
    transform: scaleX(-1);
    margin-top: -50px;
}

.img-task {
    display: flex;
    align-content: center;
    background: var(--img-task);
    background-size: cover;
    width: 420px;
    height: 350px;
    margin-bottom: 30px;
    position:initial;
    top: 10%;
    right: 8%;
}

footer {
    background-color: var(--footer-color);
    color: #45474B;
    text-align: center;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 50px;
}